header, footer, aside, nav, main, article, figure {
    display: block; 
}

body {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 13px;
    line-height: 1.5em;
    background-color: #262e34;
   
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 900px;
    
}
nav ul li {
    list-style-type: none;
    display: inline;
    float: left;
}

nav a:link, a:visited {
    /*display: block;*/
    width: 135px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #FEFEF2; /*#0033CC;*/
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

h3{ font-weight:bold; }
h5{ font-style: italic; }

p{ margin-left: 40px; }

#holders {
    /*Table in reports*/
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
    }

section a:link, a:visited { 
    /*group of links in index & share*/
    display: block;
    width: 130px;
    color: #FFFFFF;
    
    text-align: center;
    border: 4px solid black;
    border-radius: 20px;
    text-decoration: none;
}

section ul li{
    list-style-type: none;
    float: left;
}


footer {
    background-color: #333;
    width: 100%;
    bottom: 0;
    position: fixed;
}

.date{
    position: absolute;
    right: 0px;
    bottom: 0px;
}